@font-face {
   font-family: 'Clearface-Regular';
   font-display: swap;
   src: url('file:///C:/Users/rootsbridgel2/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-12_142612/fonts/Clearface-Regular/font.otf');
}
